*{ 
    margin:0 ;
    padding:0 ; 
  }
  
  h2 {
    color: red;
  }
  p span {
     color: green;
  }
  #mainTitle {
  color: yellow;
  }
  .default-text{
    color: pink;
  }
  div > span {
    color: coral;
  }
  div + span {
    color: blue;
  }
  .default-text.custom-text{
    color: fuchsia;
  }
 li a {
  color: rgb(90, 127, 26);
 }

 div + span {
  color: darkorchid;
 }

 header>nav b {
  color: yellowgreen;
 }

 
