*{ 
    margin:0 ;
    padding:0 ; 
  }
  img{ 
    max-width:100%;
  }

  h2 {
    color: red;
  }
  p span {
     color: green;
  }
  #mainTitle {
  color: yellow;
  }
  .default-text{
    color: pink;
  }
  div > span {
    color: coral;
  }
  b + i{
    color: blue;
  }
  .default-text.custom-text{
    color: fuchsia;
  }
 li a {
  color: darkolivegreen;
 }

 *section {
  color: aquamarine;
 }

 a title {
   color: purple;
 }
